<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Соревнования на Кубок Аэробии | Таблица</title>
  <meta property="og:title" content="Соревнования на Кубок Аэробии | Таблица" />
  <meta property="og:url" content="//aerobia.net/" />
  <meta property="og:image" content="./assets/logo_og.gif" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/main.css" rel="stylesheet" />
</head>
<body>

  include ../modules/header

  <main class="main">
    <div class="main__content">

      include ../modules/clubs
      include ../modules/results

    </div>
  </main>

  include ../modules/description
  include ../modules/footbar

</body>
</html>