<!DOCTYPE html>
<html lang="ru">
<head>
  include ../modules/head
</head>
<body>

  include ../modules/header

  <main class="main">
    <div class="main__content">

      include ../modules/clubs
      include ../modules/rules

    </div>
  </main>

  include ../modules/description
  include ../modules/footbar

</body>
</html>