<!DOCTYPE html>
<html lang="ru">
<head>
  include ../modules/head
</head>
<body>

  include ../modules/logo-panel
  include ../modules/nav-panel

  <main class="main">
    <div class="main__content">
      <aside class="sidebar">
        include ../modules/users-sidebar
        include ../modules/clubs
      </aside>
      <section class="page">
        include ../modules/users
      </section>
    </div>
  </main>

  include ../modules/description
  include ../modules/footbar

</body>
</html>