/*Common styles*/
body {
  font-family: "Helvetica Neue", Times, Arial, sans;
  font-size: 13px;
}

a {
  text-decoration: underline;

  &:hover,
  &:visited,
  &:active {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  color: $cHeader;
}

h3 {
  font-weight: 700;
  color: $cHeader;
}

.table__container {
  width: 95%;
  margin: 20px auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid $cGray;
  border-radius: 5px;
}

tr {
  background-color: #fff;

  &:last-child {
    & td:first-child { border-bottom-left-radius: 5px; }
    & td:last-child { border-bottom-right-radius: 5px; }
  }
}

tr:nth-child(2n) {
  background-color: $cLines;
}

.table-playoff {
  tr:nth-child(2n) {
    background-color: $cWhite;
  }

  & tr:nth-child(4n+3),
  & tr:nth-child(4n) {
    background-color: $cLines;
  }
}

th {
  padding: 3px 10px;
  text-align: left;
  font-size: 15px;
  font-weight: 700;
  color: $cWhite;
  background-color: $cTh;

  &:first-child { border-top-left-radius: 4px; }

  &:last-child { border-top-right-radius: 4px; }
}

td {
  padding: 3px 10px;
  font-size: 12px;
  color: #444;
  border-left: 1px solid rgb(219,219,219);
}

.details {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  color: $cRed;

  &:hover {
    color: $cBlack;
  }
}

.header,
.main,
.description,
.footbar {
  width: 100%;
  /*background-color: orange;*/
}

.header__content,
.main__content,
.description__content,
.footbar__content {
  /*background-color: yellow;*/
  box-sizing: border-box;
  max-width: $wMax;
  min-width: $wMin;
  width: 100%;
  margin: auto;
  padding: 0 20px;
}

.main__content {
  display: flex;
}
