/*Vars*/
$cBlack: #33333e;
$cWhite: #FFF;
$cRed: #D4001C;
$cGrayDark: #333;
$cGray: rgb(153, 153, 153);
$cGrayLight: #FAFAFA;
$cLines: #E5E5E5;
$cHeader: #999;
$cTh: #8C8C8C;
$wMin: 320px;
$wMax: 980px;
$hNav: 80px;
$wSidebar: 245px;