<section class="clubs">
  <h3 class="clubs__title">
    <a class="clubs__title-link" href="http://aerobia.ru/my/clubs">Клубы</a>
  </h3>
  <ul class="clubs__list">
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/413">
        <img src="assets/413_cup3_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/413" class="clubs__item-link">Кубок Аэробии</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/153">
        <img src="assets/153_Boston-Running-Routes_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/153" class="clubs__item-link">Все о беге</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/190">
        <img src="assets/190_aerobia_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/190" class="clubs__item-link">Аэробия</a>
    </li>
  </ul>
</section>