<aside class="clubs">
  <h3 class="clubs__title">
    <a class="clubs__title-link" href="http://aerobia.ru/my/clubs">Клубы</a>
  </h3>
  <ul class="clubs__list">
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/413">
        <img src="assets/413_cup3_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/413" class="clubs__item-link">Кубок Аэробии</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/153">
        <img src="assets/153_Boston-Running-Routes_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/153" class="clubs__item-link">Все о беге</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/190">
        <img src="assets/190_aerobia_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/190" class="clubs__item-link">Аэробия</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/417">
        <img src="assets/417_logo_team1_copy44_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/417" class="clubs__item-link">Команда № 1</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/418">
        <img src="assets/418_2018-01-05_20-28-01_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/418" class="clubs__item-link">Золотые люди</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/416">
        <img src="assets/avatar_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/416" class="clubs__item-link">Семь верст не крюк</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/421">
        <img src="assets/avatar_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/421" class="clubs__item-link">Спортивный квартал</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/423">
        <img src="assets/423_c62ac12373dec8179712ba6e7b87c7dd8ae14703_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/423" class="clubs__item-link">Пятый элемент</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/419">
        <img src="assets/avatar_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/419" class="clubs__item-link">Палата №6</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/422">
        <img src="assets/422_bestfriend1_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/422" class="clubs__item-link">Великолепная семерка</a>
    </li>
    <li class="clubs__item">
      <a href="http://aerobia.ru/clubs/415">
        <img src="assets/415_barra_thumbnail.jpg" class="clubs__item-avatar"/>
      </a>
        <a href="http://aerobia.ru/clubs/415" class="clubs__item-link">Барракуды</a>
    </li>
  </ul>
</aside>