<section class="description">
  <div class="description__content">
    <h3 class="description__title">Аэробия</h3>
    <p class="description__text">Аэробия &mdash; это спортивный трекер позволяющий отслеживать и анализировать результаты ваших тренировок и делиться ими с друзьями. Лучший инструмент для бега, велоспорта, ходьбы, беговых лыж и любой другой физической активности.
    </p>
    <div class="description__links">
      <a href="http://aerobia.ru/investor">Информация инвесторам</a>
      <a href="http://aerobia.ru/wall">Доска почета</a>
    </div>

    <div class="download">
      <div class="download__title">Скачать<br> Аэробия для</div>
      <div class="download__mobile">
        <a href="https://itunes.apple.com/ru/app/aerobia/id566375588?ls=1&amp;mt=8" class="mobile__iphone">iPhone</a> или <a href="https://play.google.com/store/apps/details?id=lv.scada.aerobia" class="mobile__android">Android</a>
    </div>
  </div>
</section>
