<section class="footbar">
  <div class="footbar__content">
    <ul class="contacts">
      <li class="contact contact__email">
        <a href="mailto:info@aerobia.ru" class="contact__link" target="_blank">info@aerobia.ru</a>
      </li>
      <li class="contact">
        <a href="http://www.facebook.com/Aerobia" class="contact__link" target="_blank">Facebook</a>
      </li>
      <li class="contact">
        <a href="http://vk.com/aerobia" class="contact__link" target="_blank">Вконтакте</a>
      </li>
      <li class="contact">
        <a href="https://twitter.com/Aerobiaru" class="contact__link" target="_blank">Twitter</a>
      </li>
    </ul>
  </div>
</section>
