<header class="header">
  <div class="header__content">
    <a href="/">
      <img src="./assets/logo.png" alt="Логотип Aerobia" title="На главную сайта aerobia.net" class="logo">
    </a>
    <div class="top-panel">
      <h1 class="site-title">Кубок Аэробии</h1>
      <nav class="nav">
        <ul class="menu">
          <li><a href="index.html" class="menu__link menu__table menu__link_active menu__table_active">Таблица</a></li>
          <li><a href="teams53.html" class="menu__link menu__team">Команды</a></li>
          <li><a href="users.html" class="menu__link menu__users">Участники</a></li>
          <li><a href="statistics53.html" class="menu__link menu__statistics">Статистика</a></li>
          <li><a href="rules.html" class="menu__link menu__rules">Правила</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>