<section class="logo-panel">
  <div class="logo-panel__content">
    <a href="/" class="logo__link">
      <img src="./assets/logo.png" alt="Логотип Aerobia" title="На главную сайта aerobia.net" class="logo__img">
    </a>
  </div>
<section>
