<section class="results">
  <h1>Кубок Аэробии</h1>
  <h1>Полуфинал 1</h1>
  <div class="table__container">
  <table class="table-playoff">
    <thead><tr><th>Неделя</th><th>Команда</th><th>Результат (км)</th></thead>
    <tbody>
      <tr><td rowspan="2">1</td><td>Семь верст не крюк</td><td>182.81</td></tr>
      <tr><td>Палата №6</td><td>181.58</td></tr>
      <tr><td rowspan="2">2</td><td>Семь верст не крюк</td><td>250.46</td></tr>
      <tr><td>Палата №6</td><td>155.68</td></tr>
      <tr><td rowspan="2">3</td><td>Семь верст не крюк</td><td>251.22</td></tr>
      <tr><td>Палата №6</td><td>159.05</td></tr>
    </tbody>
  </table>
  </div>

  <h1>Полуфинал 2</h1>
  <div class="table__container">
  <table class="table-playoff">
    <thead><tr><th>Неделя</th><th>Команда</th><th>Результат (км)</th></thead>
    <tbody>
      <tr><td rowspan="2">1</td><td>Пятый элемент</td><td>186.17</td></tr>
      <tr><td>Спортивный квартал</td><td>321.70</td></tr>
      <tr><td rowspan="2">2</td><td>Пятый элемент</td><td>237.00</td></tr>
      <tr><td>Спортивный квартал</td><td>347.88</td></tr>
      <tr><td rowspan="2">3</td><td>Пятый элемент</td><td>168.65</td></tr>
      <tr><td>Спортивный квартал</td><td>288.47</td></tr>
    </tbody>
  </table>
  </div>

  <h1>Финал</h1>
  <div class="table__container">
  <table class="table-playoff">
    <thead><tr><th>Неделя</th><th>Команда</th><th>Результат (км)</th></thead>
    <tbody>
      <tr><td rowspan="2">1</td><td>Семь верст не крюк</td><td>367.38</td></tr>
      <tr><td>Спортивный квартал</td><td>272.04</td></tr>
      <tr><td rowspan="2">2</td><td>Семь верст не крюк</td><td>219.59</td></tr>
      <tr><td>Спортивный квартал</td><td>324.81</td></tr>
      <tr><td rowspan="2">3</td><td>Семь верст не крюк</td><td>366.04</td></tr>
      <tr><td>Спортивный квартал</td><td>366.00</td></tr>
    </tbody>
  </table>
  </div>

  <hr size=1 color="#e5e5e5">
  <h1>Таблица соревнования</h1>
  <div class="table__container">
  <table>
    <thead><tr><th>Команда</th><th>Очки</th></tr></thead>
    <tbody>
      <tr><td>Семь верст не крюк</td><td>1260</td></tr>
      <tr><td>Пятый элемент</td><td>1015</td></tr>
      <tr><td>Золотые люди</td><td>935</td></tr>
      <tr><td>Спортивный квартал</td><td>930</td></tr>
      <tr><td>Палата №6</td><td>855</td></tr>
      <tr><td>Команда №1</td><td>795</td></tr>
      <tr><td>Барракуды</td><td>750</td></tr>
      <tr><td>Великолепная семерка</td><td>740</td></tr>
    </tbody>
  </table>
  </div>


  <h1>Результаты 52 недели</h1>
  <a class="details" href="teams52.html">Подробнее</a>

  <div class="table__container">
  <table>
    <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
    <tbody>
      <tr><td>Семь верст не крюк</td><td>277.27</td><td>266.67</td><td>86.12</td><td>35</td><td>1260</td></tr>
      <tr><td>Великолепная семерка</td><td>273.42</td><td>213.44</td><td>69.59</td><td>30</td><td>740</td></tr>
      <tr><td>Спортивный квартал</td><td>358.76</td><td>237.77</td><td>54.34</td><td>25</td><td>930</td></tr>
      <tr><td>Золотые люди</td><td>350.35</td><td>184.11</td><td>39.19</td><td>20</td><td>935</td></tr>
      <tr><td>Пятый элемент</td><td>373.42</td><td>105.12</td><td>30.30</td><td>15</td><td>1015</td></tr>
      <tr><td>Команда №1</td><td>212.96</td><td>32.32</td><td>18.82</td><td>10</td><td>795</td></tr>
      <tr><td>Палата №6</td><td>392.00</td><td>35.95</td><td>13.25</td><td>5</td><td>855</td></tr>
      <tr><td>Барракуды</td><td>385.79</td><td>37.46</td><td>10.07</td><td>0</td><td>750</td></tr>
    </tbody>
  </table>
  </div>

  <h1>Результаты 51 недели</h1>
  <a class="details" href="teams51.html">Подробнее</a>
  <div class="table__container">
  <table>
    <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
    <tbody>
      <tr><td>Спортивный квартал</td><td>358.76</td><td>212.19</td><td>46.62</td><td>35</td><td>905</td></tr>
      <tr><td>Великолепная семерка</td><td>273.42</td><td>158.24</td><td>46.33</td><td>30</td><td>710</td></tr>
      <tr><td>Золотые люди</td><td>350.35</td><td>215.37</td><td>41.33</td><td>25</td><td>915</td></tr>
      <tr><td>Пятый элемент</td><td>373.42</td><td>99.72</td><td>30.50</td><td>20</td><td>1000</td></tr>
      <tr><td>Семь верст не крюк</td><td>277.27</td><td>117.49</td><td>27.25</td><td>15</td><td>1225</td></tr>
      <tr><td>Палата №6</td><td>392.00</td><td>66.50</td><td>22.52</td><td>10</td><td>850</td></tr>
      <tr><td>Команда №1</td><td>212.96</td><td>43.77</td><td>21.39</td><td>5</td><td>785</td></tr>
      <tr><td>Барракуды</td><td>385.79</td><td>56.63</td><td>14.72</td><td>0</td><td>750</td></tr>
    </tbody>
  </table>
  </div>

  <h1>Результаты 50 недели</h1>
  <a class="details" href="teams50.html">Подробнее</a>

  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>282.46</td><td>89.00</td><td>35</td><td>1210</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>265.54</td><td>66.13</td><td>30</td><td>890</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>168.76</td><td>54.06</td><td>25</td><td>680</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>161.20</td><td>37.74</td><td>20</td><td>870</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>118.57</td><td>36.33</td><td>15</td><td>840</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>73.70</td><td>21.81</td><td>10</td><td>980</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>43.35</td><td>18.56</td><td>5</td><td>780</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>49.73</td><td>13.17</td><td>0</td><td>750</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 49 недели</h1>
  <a class="details" href="teams49.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>198.45</td><td>64.74</td><td>35</td><td>655</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>156.19</td><td>41.63</td><td>30</td><td>1175</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>127.31</td><td>40.86</td><td>25</td><td>825</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>161.54</td><td>36.45</td><td>20</td><td>850</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>127.92</td><td>30.88</td><td>15</td><td>860</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>118.04</td><td>30.64</td><td>10</td><td>970</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>54.53</td><td>30.11</td><td>5</td><td>775</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>47.48</td><td>12.49</td><td>0</td><td>750</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 48 недели</h1>
  <a class="details" href="teams48.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>287.29</td><td>106.93</td><td>35</td><td>845</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>195.62</td><td>66.35</td><td>30</td><td>620</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>153.71</td><td>54.70</td><td>25</td><td>800</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>200.39</td><td>53.88</td><td>20</td><td>1145</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>165.05</td><td>41.72</td><td>15</td><td>960</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>193.25</td><td>40.73</td><td>10</td><td>830</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>76.24</td><td>33.54</td><td>5</td><td>770</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>63.49</td><td>15.15</td><td>0</td><td>750</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 47 недели</h1>
  <a class="details" href="teams47.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>278.69</td><td>93.93</td><td>35</td><td>810</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>199.63</td><td>64.89</td><td>30</td><td>590</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>210.22</td><td>60.75</td><td>25</td><td>775</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>173.04</td><td>45.94</td><td>20</td><td>945</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>183.34</td><td>39.40</td><td>15</td><td>820</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>163.52</td><td>38.77</td><td>10</td><td>1125</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>81.62</td><td>32.96</td><td>5</td><td>765</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>70.95</td><td>16.53</td><td>0</td><td>750</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 46 недели</h1>
  <a class="details" href="teams46.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Команда №1</td><td>212.96</td><td>210.81</td><td>101.75</td><td>35</td><td>760</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>222.15</td><td>96.90</td><td>30</td><td>775</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>257.60</td><td>84.97</td><td>25</td><td>560</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>226.23</td><td>70.54</td><td>20</td><td>925</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>196.17</td><td>65.48</td><td>15</td><td>1115</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>139.60</td><td>44.31</td><td>10</td><td>750</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>153.58</td><td>38.18</td><td>5</td><td>805</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>93.73</td><td>26.39</td><td>0</td><td>750</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 45 недели</h1>
  <a class="details" href="teams45.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Команда №1</td><td>212.96</td><td>247.28</td><td>125.12</td><td>35</td><td>725</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>281.57</td><td>85.89</td><td>30</td><td>905</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>262.77</td><td>85.00</td><td>25</td><td>535</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>265.08</td><td>81.19</td><td>20</td><td>745</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>174.70</td><td>56.76</td><td>15</td><td>1100</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>187.58</td><td>54.10</td><td>10</td><td>800</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>195.63</td><td>47.11</td><td>5</td><td>750</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>133.26</td><td>35.88</td><td>0</td><td>740</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 44 недели</h1>
  <a class="details" href="teams44.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>251.19</td><td>108.39</td><td>35</td><td>725</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>301.24</td><td>91.90</td><td>30</td><td>875</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>246.16</td><td>85.54</td><td>25</td><td>510</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>144.68</td><td>67.38</td><td>20</td><td>690</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>234.60</td><td>61.97</td><td>15</td><td>790</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>193.79</td><td>56.10</td><td>10</td><td>1085</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>158.04</td><td>40.22</td><td>5</td><td>745</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>125.77</td><td>39.30</td><td>0</td><td>740</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 43 недели</h1>
  <a class="details" href="teams43.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Пятый элемент</td><td>373.42</td><td>262.07</td><td>83.91</td><td>35</td><td>845</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>237.02</td><td>81.78</td><td>30</td><td>485</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>218.17</td><td>78.62</td><td>25</td><td>1075</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>231.10</td><td>76.62</td><td>20</td><td>690</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>250.31</td><td>76.19</td><td>15</td><td>775</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>142.43</td><td>50.61</td><td>10</td><td>740</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>105.19</td><td>48.86</td><td>5</td><td>670</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>177.44</td><td>45.02</td><td>0</td><td>740</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 42 недели</h1>
  <a class="details" href="teams42.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>319.40</td><td>86.11</td><td>35</td><td>760</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>260.99</td><td>82.97</td><td>30</td><td>810</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>293.40</td><td>74.92</td><td>25</td><td>740</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>197.85</td><td>67.51</td><td>20</td><td>1050</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>187.37</td><td>66.67</td><td>15</td><td>455</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>210.58</td><td>66.52</td><td>10</td><td>670</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>200.64</td><td>60.66</td><td>5</td><td>730</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>89.12</td><td>43.09</td><td>0</td><td>665</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 41 недели</h1>
  <a class="details" href="teams41.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>299.48</td><td>105.62</td><td>35</td><td>440</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>210.06</td><td>97.42</td><td>30</td><td>665</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>257.23</td><td>96.97</td><td>25</td><td>1030</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>309.80</td><td>85.96</td><td>20</td><td>780</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>303.90</td><td>79.60</td><td>15</td><td>725</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>278.35</td><td>70.04</td><td>10</td><td>715</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>188.38</td><td>51.26</td><td>5</td><td>660</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>104.87</td><td>30.71</td><td>0</td><td>725</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 40 недели</h1>
  <a class="details" href="teams40.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>374.36</td><td>114.04</td><td>35</td><td>710</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>212.64</td><td>97.87</td><td>30</td><td>635</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>205.16</td><td>93.90</td><td>25</td><td>1005</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>288.54</td><td>88.68</td><td>20</td><td>760</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>233.12</td><td>80.23</td><td>15</td><td>405</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>265.10</td><td>63.34</td><td>10</td><td>705</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>201.77</td><td>61.59</td><td>5</td><td>655</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>132.48</td><td>41.64</td><td>0</td><td>725</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 39 недели</h1>
  <a class="details" href="teams39.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>397.31</td><td>109.64</td><td>35</td><td>675</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>165.83</td><td>85.83</td><td>30</td><td>980</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>234.72</td><td>83.61</td><td>25</td><td>390</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>182.80</td><td>82.16</td><td>20</td><td>605</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>190.97</td><td>61.81</td><td>15</td><td>740</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>203.49</td><td>58.12</td><td>10</td><td>650</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>236.27</td><td>54.98</td><td>5</td><td>695</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>63.90</td><td>24.41</td><td>0</td><td>725</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 38 недели</h1>
  <a class="details" href="teams38.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>286.05</td><td>128.23</td><td>35</td><td>950</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>267.06</td><td>102.35</td><td>30</td><td>585</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>329.74</td><td>91.13</td><td>25</td><td>640</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>266.65</td><td>83.89</td><td>20</td><td>725</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>276.61</td><td>80.85</td><td>15</td><td>640</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>223.13</td><td>75.63</td><td>10</td><td>365</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>243.07</td><td>57.38</td><td>5</td><td>690</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>156.55</td><td>57.12</td><td>0</td><td>725</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 37 недели</h1>
  <a class="details" href="teams37.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>334.86</td><td>152.69</td><td>35</td><td>915</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>343.51</td><td>97.60</td><td>30</td><td>705</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>268.19</td><td>93.42</td><td>25</td><td>355</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>307.29</td><td>86.52</td><td>20</td><td>625</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>190.09</td><td>71.32</td><td>15</td><td>555</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>317.76</td><td>70.90</td><td>10</td><td>615</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>258.73</td><td>69.57</td><td>5</td><td>685</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>243.06</td><td>66.81</td><td>0</td><td>725</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 36 недели</h1>
  <a class="details" href="teams36.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>281.56</td><td>121.57</td><td>35</td><td>880</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>234.61</td><td>113.71</td><td>30</td><td>540</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>258.25</td><td>92.85</td><td>25</td><td>330</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>345.05</td><td>91.42</td><td>20</td><td>680</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>301.35</td><td>77.97</td><td>15</td><td>605</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>252.12</td><td>68.70</td><td>10</td><td>605</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>249.77</td><td>59.70</td><td>5</td><td>675</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>223.48</td><td>54.70</td><td>0</td><td>725</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 35 недели</h1>
  <a class="details" href="teams35.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Барракуды</td><td>385.79</td><td>424.16</td><td>105.39</td><td>35</td><td>660</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>391.89</td><td>104.09</td><td>30</td><td>725</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>228.27</td><td>92.99</td><td>25</td><td>510</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>255.28</td><td>92.99</td><td>20</td><td>845</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>345.46</td><td>87.88</td><td>15</td><td>670</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>245.75</td><td>82.74</td><td>10</td><td>305</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>293.51</td><td>76.63</td><td>5</td><td>595</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>307.47</td><td>72.74</td><td>0</td><td>590</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 34 недели</h1>
  <a class="details" href="teams34.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>334.81</td><td>130.96</td><td>35</td><td>825</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>478.70</td><td>123.98</td><td>30</td><td>695</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>250.93</td><td>113.81</td><td>25</td><td>485</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>335.10</td><td>104.41</td><td>20</td><td>590</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>262.56</td><td>93.56</td><td>15</td><td>295</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>355.99</td><td>89.78</td><td>10</td><td>625</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>376.86</td><td>85.50</td><td>5</td><td>590</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>326.90</td><td>82.94</td><td>0</td><td>655</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 33 недели</h1>
  <a class="details" href="teams33.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Палата №6</td><td>392.00</td><td>488.35</td><td>131.63</td><td>35</td><td>665</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>308.16</td><td>112.30</td><td>30</td><td>790</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>406.58</td><td>105.23</td><td>25</td><td>655</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>344.25</td><td>95.67</td><td>20</td><td>615</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>345.26</td><td>85.86</td><td>15</td><td>570</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>171.70</td><td>81.90</td><td>10</td><td>460</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>198.40</td><td>65.14</td><td>5</td><td>280</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>282.92</td><td>64.25</td><td>0</td><td>585</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 32 недели</h1>
  <a class="details" href="teams32.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>311.09</td><td>120.98</td><td>35</td><td>760</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>374.76</td><td>102.50</td><td>30</td><td>630</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>344.87</td><td>97.51</td><td>25</td><td>595</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>218.57</td><td>92.38</td><td>20</td><td>450</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>386.79</td><td>92.12</td><td>15</td><td>630</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>382.65</td><td>87.60</td><td>10</td><td>585</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>289.56</td><td>86.79</td><td>5</td><td>555</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>210.65</td><td>74.96</td><td>0</td><td>275</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 31 недели</h1>
  <a class="details" href="teams31.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>360.00</td><td>137.89</td><td>35</td><td>725</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>375.97</td><td>100.96</td><td>30</td><td>615</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>344.12</td><td>99.37</td><td>25</td><td>600</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>365.86</td><td>93.86</td><td>20</td><td>570</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>202.54</td><td>89.83</td><td>15</td><td>430</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>266.58</td><td>85.15</td><td>10</td><td>550</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>213.97</td><td>75.38</td><td>5</td><td>275</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>309.65</td><td>66.66</td><td>0</td><td>575</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 30 недели</h1>
  <a class="details" href="teams30.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Барракуды</td><td>385.79</td><td>475.94</td><td>129.30</td><td>35</td><td>550</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>341.39</td><td>118.91</td><td>30</td><td>575</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>260.48</td><td>106.30</td><td>25</td><td>690</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>352.47</td><td>103.41</td><td>20</td><td>575</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>200.86</td><td>92.77</td><td>15</td><td>415</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>204.78</td><td>77.72</td><td>10</td><td>540</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>242.34</td><td>72.45</td><td>5</td><td>585</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>201.27</td><td>68.00</td><td>0</td><td>270</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 29 недели</h1>
  <a class="details" href="teams29.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>342.81</td><td>133.36</td><td>35</td><td>665</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>359.27</td><td>122.24</td><td>30</td><td>545</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>375.80</td><td>115.62</td><td>25</td><td>580</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>249.37</td><td>110.36</td><td>20</td><td>400</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>405.55</td><td>104.22</td><td>15</td><td>555</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>356.92</td><td>99.96</td><td>10</td><td>515</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>274.05</td><td>96.26</td><td>5</td><td>270</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>396.99</td><td>93.13</td><td>0</td><td>530</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 28 недели</h1>
  <a class="details" href="teams28.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Команда №1</td><td>212.96</td><td>314.45</td><td>145.74</td><td>35</td><td>380</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>298.94</td><td>119.56</td><td>30</td><td>630</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>414.66</td><td>114.34</td><td>25</td><td>515</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>307.26</td><td>113.30</td><td>20</td><td>265</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>413.31</td><td>113.30</td><td>15</td><td>505</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>375.99</td><td>108.83</td><td>10</td><td>555</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>363.88</td><td>97.93</td><td>5</td><td>540</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>398.80</td><td>95.53</td><td>0</td><td>530</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 27 недели</h1>
  <a class="details" href="teams27.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Команда №1</td><td>212.96</td><td>261.26</td><td>120.13</td><td>35</td><td>345</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>459.72</td><td>117.01</td><td>30</td><td>545</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>362.60</td><td>106.90</td><td>25</td><td>490</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>288.27</td><td>105.62</td><td>20</td><td>600</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>374.09</td><td>104.11</td><td>15</td><td>535</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>329.01</td><td>102.97</td><td>10</td><td>530</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>274.14</td><td>97.23</td><td>5</td><td>245</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>321.14</td><td>82.84</td><td>0</td><td>490</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 26 недели</h1>
  <a class="details" href="teams26.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Команда №1</td><td>212.96</td><td>285.70</td><td>138.55</td><td>35</td><td>310</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>365.10</td><td>127.69</td><td>30</td><td>580</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>431.77</td><td>112.91</td><td>25</td><td>515</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>304.72</td><td>111.88</td><td>20</td><td>240</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>361.70</td><td>101.08</td><td>15</td><td>520</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>372.88</td><td>100.07</td><td>10</td><td>490</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>366.96</td><td>98.94</td><td>5</td><td>465</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>234.96</td><td>78.52</td><td>0</td><td>520</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 25 недели</h1>
  <a class="details" href="teams25.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Команда №1</td><td>212.96</td><td>290.96</td><td>121.90</td><td>35</td><td>275</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>423.37</td><td>120.66</td><td>30</td><td>480</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>346.04</td><td>114.33</td><td>25</td><td>550</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>428.00</td><td>111.82</td><td>20</td><td>505</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>386.99</td><td>105.31</td><td>15</td><td>460</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>271.07</td><td>97.01</td><td>10</td><td>220</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>333.36</td><td>95.38</td><td>5</td><td>490</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>277.66</td><td>76.55</td><td>0</td><td>520</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 24 недели</h1>
  <a class="details" href="teams24.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>454.59</td><td>172.00</td><td>35</td><td>525</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>362.64</td><td>125.87</td><td>30</td><td>450</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>472.62</td><td>117.19</td><td>25</td><td>485</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>409.13</td><td>110.65</td><td>20</td><td>485</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>307.82</td><td>105.79</td><td>15</td><td>210</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>232.89</td><td>103.23</td><td>10</td><td>240</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>271.77</td><td>70.13</td><td>5</td><td>445</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>317.13</td><td>69.56</td><td>0</td><td>520</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 23 недели</h1>
  <a class="details" href="teams23.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>286.57</td><td>127.64</td><td>35</td><td>490</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>504.38</td><td>117.41</td><td>30</td><td>460</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>262.74</td><td>113.84</td><td>25</td><td>230</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>434.07</td><td>113.01</td><td>20</td><td>420</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>405.30</td><td>108.77</td><td>15</td><td>465</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>357.61</td><td>90.18</td><td>10</td><td>440</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>301.37</td><td>86.23</td><td>5</td><td>520</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>216.85</td><td>76.69</td><td>0</td><td>195</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 22 недели</h1>
  <a class="details" href="teams22.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Палата №6</td><td>392.00</td><td>477.98</td><td>120.11</td><td>35</td><td>430</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>299.02</td><td>110.33</td><td>30</td><td>455</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>245.86</td><td>104.39</td><td>25</td><td>205</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>322.55</td><td>91.83</td><td>20</td><td>430</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>416.04</td><td>90.49</td><td>15</td><td>400</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>334.20</td><td>89.16</td><td>10</td><td>450</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>256.66</td><td>85.97</td><td>5</td><td>195</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>306.05</td><td>74.72</td><td>0</td><td>515</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 21 недели</h1>
  <a class="details" href="teams21.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Пятый элемент</td><td>373.42</td><td>414.82</td><td>128.27</td><td>35</td><td>440</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>300.29</td><td>121.35</td><td>30</td><td>425</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>458.25</td><td>119.89</td><td>25</td><td>385</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>287.44</td><td>100.77</td><td>20</td><td>190</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>363.07</td><td>97.54</td><td>15</td><td>395</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>214.89</td><td>97.25</td><td>10</td><td>180</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>239.81</td><td>80.48</td><td>5</td><td>515</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>290.44</td><td>77.73</td><td>0</td><td>410</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 20 недели</h1>
  <a class="details" href="teams20.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>296.30</td><td>121.01</td><td>35</td><td>395</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>313.03</td><td>113.23</td><td>30</td><td>170</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>405.91</td><td>107.36</td><td>25</td><td>360</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>363.27</td><td>105.22</td><td>20</td><td>510</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>216.06</td><td>105.06</td><td>15</td><td>170</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>384.79</td><td>96.09</td><td>10</td><td>380</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>325.89</td><td>88.99</td><td>5</td><td>410</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>286.71</td><td>81.97</td><td>0</td><td>405</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 19 недели</h1>
  <a class="details" href="teams19.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>354.51</td><td>139.04</td><td>35</td><td>360</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>471.90</td><td>123.67</td><td>30</td><td>490</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>270.48</td><td>122.98</td><td>25</td><td>155</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>459.88</td><td>121.04</td><td>20</td><td>335</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>475.72</td><td>111.82</td><td>15</td><td>370</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>403.17</td><td>111.24</td><td>10</td><td>405</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>359.34</td><td>98.52</td><td>5</td><td>405</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>282.79</td><td>96.59</td><td>0</td><td>140</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 18 недели</h1>
  <a class="details" href="teams18.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Пятый элемент</td><td>373.42</td><td>520.42</td><td>146.02</td><td>35</td><td>395</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>274.27</td><td>128.27</td><td>30</td><td>130</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>394.65</td><td>103.69</td><td>25</td><td>400</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>497.10</td><td>102.81</td><td>20</td><td>460</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>381.31</td><td>101.15</td><td>15</td><td>315</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>397.29</td><td>93.12</td><td>10</td><td>355</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>280.52</td><td>91.44</td><td>5</td><td>140</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>192.18</td><td>66.96</td><td>0</td><td>325</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 17 недели</h1>
  <a class="details" href="teams17.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>296.50</td><td>299.06</td><td>123.69</td><td>35</td><td>325</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>473.82</td><td>115.79</td><td>30</td><td>440</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>424.39</td><td>113.63</td><td>25</td><td>360</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>373.72</td><td>94.04</td><td>20</td><td>300</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>328.60</td><td>92.45</td><td>15</td><td>375</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>403.84</td><td>92.22</td><td>10</td><td>345</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>232.95</td><td>90.83</td><td>5</td><td>100</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>224.71</td><td>73.76</td><td>0</td><td>135</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 16 недели</h1>
  <a class="details" href="teams16.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Пятый элемент</td><td>373.42</td><td>459.32</td><td>124.77</td><td>35</td><td>335</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>252.56</td><td>118.72</td><td>30</td><td>95</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>442.05</td><td>108.62</td><td>25</td><td>335</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>400.15</td><td>107.90</td><td>20</td><td>360</td></tr>
       <tr><td>Семь верст не крюк</td><td>296.50</td><td>319.15</td><td>107.19</td><td>15</td><td>290</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>351.91</td><td>103.63</td><td>10</td><td>410</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>356.41</td><td>99.82</td><td>5</td><td>280</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>238.59</td><td>77.52</td><td>0</td><td>135</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 15 недели</h1>
  <a class="details" href="teams15.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>400.27</td><td>120.23</td><td>35</td><td>400</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>379.68</td><td>105.74</td><td>30</td><td>300</td></tr>
       <tr><td>Семь верст не крюк</td><td>296.50</td><td>266.52</td><td>102.92</td><td>25</td><td>275</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>373.58</td><td>101.61</td><td>20</td><td>275</td></tr>
       <tr><td>Барракуды</td><td>385.79</td><td>372.54</td><td>96.31</td><td>15</td><td>340</td></tr>
       <tr><td>Команда №1</td><td>212.96</td><td>183.85</td><td>87.98</td><td>10</td><td>65</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>243.42</td><td>79.69</td><td>5</td><td>135</td></tr>
       <tr><td>Палата №6</td><td>392.00</td><td>369.90</td><td>77.40</td><td>0</td><td>310</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 14 недели</h1>
  <a class="details" href="teams14.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Барракуды</td><td>392.67</td><td>400.40</td><td>114.37</td><td>35</td><td>325</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>388.95</td><td>99.58</td><td>30</td><td>270</td></tr>
       <tr><td>Палата №6</td><td>461.88</td><td>478.62</td><td>98.70</td><td>25</td><td>310</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>319.66</td><td>96.12</td><td>20</td><td>255</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>347.81</td><td>91.54</td><td>15</td><td>365</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>246.99</td><td>84.10</td><td>10</td><td>130</td></tr>
       <tr><td>Семь верст не крюк</td><td>356.12</td><td>228.13</td><td>70.06</td><td>5</td><td>250</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>295.56</td><td>69.95</td><td>0</td><td>55</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 13 недели</h1>
  <a class="details" href="teams13.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>311.54</td><td>442.34</td><td>128.56</td><td>35</td><td>350</td></tr>
       <tr><td>Палата №6</td><td>461.88</td><td>549.37</td><td>115.44</td><td>30</td><td>285</td></tr>
       <tr><td>Барракуды</td><td>392.67</td><td>379.40</td><td>105.60</td><td>25</td><td>290</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>280.37</td><td>93.90</td><td>20</td><td>120</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>337.38</td><td>92.64</td><td>15</td><td>235</td></tr>
       <tr><td>Пятый элемент</td><td>334.96</td><td>273.28</td><td>82.26</td><td>10</td><td>240</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>242.58</td><td>69.70</td><td>5</td><td>245</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>203.72</td><td>50.51</td><td>0</td><td>55</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 12 недели</h1>
  <a class="details" href="teams12.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>263.46</td><td>348.10</td><td>120.11</td><td>35</td><td>315</td></tr>
       <tr><td>Пятый элемент</td><td>334.96</td><td>351.37</td><td>112.40</td><td>30</td><td>230</td></tr>
       <tr><td>Палата №6</td><td>461.88</td><td>504.33</td><td>109.20</td><td>25</td><td>255</td></tr>
       <tr><td>Барракуды</td><td>392.67</td><td>428.76</td><td>105.09</td><td>20</td><td>265</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>340.32</td><td>90.01</td><td>15</td><td>220</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>286.62</td><td>88.64</td><td>10</td><td>240</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>217.38</td><td>70.50</td><td>5</td><td>100</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>113.77</td><td>33.69</td><td>0</td><td>55</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 11 недели</h1>
  <a class="details" href="teams11.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Пятый элемент</td><td>373.42</td><td>423.12</td><td>119.45</td><td>35</td><td>200</td></tr>
       <tr><td>Барракуды</td><td>392.67</td><td>392.19</td><td>109.60</td><td>30</td><td>245</td></tr>
       <tr><td>Спортивный квартал</td><td>320.30</td><td>288.18</td><td>109.38</td><td>25</td><td>205</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>333.08</td><td>108.70</td><td>20</td><td>230</td></tr>
       <tr><td>Палата №6</td><td>461.88</td><td>426.54</td><td>92.85</td><td>15</td><td>230</td></tr>
       <tr><td>Великолепная семерка</td><td>219.58</td><td>199.14</td><td>90.43</td><td>10</td><td>95</td></tr>
       <tr><td>Золотые люди</td><td>302.27</td><td>326.23</td><td>83.96</td><td>5</td><td>280</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>239.32</td><td>55.64</td><td>0</td><td>55</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 10 недели</h1>
  <a class="details" href="teams10.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Пятый элемент</td><td>296.15</td><td>341.94</td><td>134.82</td><td>35</td><td>165</td></tr>
       <tr><td>Палата №6</td><td>461.88</td><td>522.84</td><td>117.27</td><td>30</td><td>215</td></tr>
       <tr><td>Барракуды</td><td>334.98</td><td>365.81</td><td>104.35</td><td>25</td><td>215</td></tr>
       <tr><td>Золотые люди</td><td>283.04</td><td>316.07</td><td>96.63</td><td>20</td><td>275</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>284.63</td><td>89.48</td><td>15</td><td>210</td></tr>
       <tr><td>Спортивный квартал</td><td>320.30</td><td>265.28</td><td>73.90</td><td>10</td><td>180</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>215.42</td><td>70.52</td><td>5</td><td>85</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>164.63</td><td>45.05</td><td>0</td><td>55</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 9 недели</h1>
  <a class="details" href="teams09.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>386.41</td><td>121.65</td><td>35</td><td>195</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>380.33</td><td>103.31</td><td>30</td><td>255</td></tr>
       <tr><td>Палата №6</td><td>461.88</td><td>430.92</td><td>97.91</td><td>25</td><td>185</td></tr>
       <tr><td>Барракуды</td><td>371.52</td><td>350.83</td><td>97.71</td><td>20</td><td>190</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>343.62</td><td>92.23</td><td>15</td><td>170</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>195.93</td><td>69.43</td><td>10</td><td>80</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>183.49</td><td>62.12</td><td>5</td><td>55</td></tr>
       <tr><td>Пятый элемент</td><td>157.69</td><td>175.66</td><td>-1.00</td><td>0</td><td>130</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 8 недели</h1>
  <a class="details" href="teams08.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Палата №6</td><td>461.88</td><td>505.66</td><td>117.05</td><td>35</td><td>160</td></tr>
       <tr><td>Пятый элемент</td><td>283.04</td><td>276.71</td><td>111.61</td><td>30</td><td>130</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>333.03</td><td>104.65</td><td>25</td><td>225</td></tr>
       <tr><td>Барракуды</td><td>371.52</td><td>381.07</td><td>101.46</td><td>20</td><td>170</td></tr>
       <tr><td>Спортивный квартал</td><td>316.45</td><td>290.43</td><td>100.20</td><td>15</td><td>155</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>314.66</td><td>96.21</td><td>10</td><td>160</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>237.20</td><td>85.80</td><td>5</td><td>70</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>316.12</td><td>81.32</td><td>0</td><td>50</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 7 недели</h1>
  <a class="details" href="teams07.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>424.72</td><td>148.21</td><td>35</td><td>200</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>379.68</td><td>112.90</td><td>30</td><td>50</td></tr>
       <tr><td>Палата №6</td><td>419.58</td><td>457.75</td><td>110.79</td><td>25</td><td>125</td></tr>
       <tr><td>Барракуды</td><td>344.60</td><td>367.29</td><td>108.26</td><td>20</td><td>150</td></tr>
       <tr><td>Спортивный квартал</td><td>316.45</td><td>301.05</td><td>101.78</td><td>15</td><td>140</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>315.76</td><td>92.45</td><td>10</td><td>150</td></tr>
       <tr><td>Пятый элемент</td><td>283.04</td><td>236.07</td><td>89.62</td><td>5</td><td>100</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>204.97</td><td>74.25</td><td>0</td><td>65</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 6 недели</h1>
  <a class="details" href="teams06.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>384.04</td><td>108.28</td><td>35</td><td>165</td></tr>
       <tr><td>Палата №6</td><td>419.58</td><td>437.08</td><td>107.30</td><td>30</td><td>100</td></tr>
       <tr><td>Семь верст не крюк</td><td>317.31</td><td>337.79</td><td>100.39</td><td>25</td><td>140</td></tr>
       <tr><td>Команда №1</td><td>367.65</td><td>326.39</td><td>94.60</td><td>20</td><td>20</td></tr>
       <tr><td>Барракуды</td><td>344.60</td><td>354.57</td><td>94.37</td><td>15</td><td>130</td></tr>
       <tr><td>Пятый элемент</td><td>283.04</td><td>230.24</td><td>88.91</td><td>10</td><td>95</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>305.98</td><td>87.23</td><td>5</td><td>125</td></tr>
       <tr><td>Великолепная семерка</td><td>248.42</td><td>165.34</td><td>66.98</td><td>0</td><td>65</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 5 недели</h1>
  <a class="details" href="teams05.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>312.31</td><td>125.60</td><td>35</td><td>130</td></tr>
       <tr><td>Семь верст не крюк</td><td>257.69</td><td>244.02</td><td>107.84</td><td>30</td><td>115</td></tr>
       <tr><td>Палата №6</td><td>333.04</td><td>319.61</td><td>105.29</td><td>25</td><td>70</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>340.57</td><td>104.25</td><td>20</td><td>120</td></tr>
       <tr><td>Барракуды</td><td>392.67</td><td>382.72</td><td>93.06</td><td>15</td><td>115</td></tr>
       <tr><td>Пятый элемент</td><td>286.88</td><td>222.39</td><td>84.01</td><td>10</td><td>85</td></tr>
       <tr><td>Великолепная семерка</td><td>248.42</td><td>196.58</td><td>80.12</td><td>5</td><td>65</td></tr>
       <tr><td>Команда №1</td><td>323.42</td><td>235.85</td><td>56.83</td><td>0</td><td>0</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 4 недели</h1>
  <a class="details" href="teams04.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Семь верст не крюк</td><td>267.31</td><td>309.45</td><td>131.50</td><td>35</td><td>85</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>326.86</td><td>107.42</td><td>30</td><td>95</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>379.12</td><td>102.64</td><td>25</td><td>100</td></tr>
       <tr><td>Великолепная семерка</td><td>248.42</td><td>253.76</td><td>102.01</td><td>20</td><td>60</td></tr>
       <tr><td>Пятый элемент</td><td>334.96</td><td>301.03</td><td>101.78</td><td>15</td><td>75</td></tr>
       <tr><td>Барракуды</td><td>392.67</td><td>383.13</td><td>88.65</td><td>10</td><td>100</td></tr>
       <tr><td>Палата №6</td><td>333.04</td><td>288.49</td><td>88.30</td><td>5</td><td>45</td></tr>
       <tr><td>Команда №1</td><td>358.04</td><td>287.99</td><td>87.56</td><td>0</td><td>0</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 3 недели</h1>
  <a class="details" href="teams03.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Золотые люди</td><td>350.35</td><td>337.88</td><td>114.97</td><td>35</td><td>65</td></tr>
       <tr><td>Спортивный квартал</td><td>316.45</td><td>321.59</td><td>108.48</td><td>30</td><td>75</td></tr>
       <tr><td>Пятый элемент</td><td>248.42</td><td>251.73</td><td>105.93</td><td>25</td><td>60</td></tr>
       <tr><td>Барракуды</td><td>392.67</td><td>428.00</td><td>105.67</td><td>20</td><td>90</td></tr>
       <tr><td>Семь верст не крюк</td><td>267.31</td><td>264.19</td><td>103.76</td><td>15</td><td>50</td></tr>
       <tr><td>Палата №6</td><td>419.58</td><td>392.28</td><td>103.39</td><td>10</td><td>40</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>266.15</td><td>97.19</td><td>5</td><td>40</td></tr>
       <tr><td>Команда №1</td><td>358.04</td><td>214.00</td><td>63.68</td><td>0</td><td>0</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 2 недели</h1>
  <a class="details" href="teams02.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Барракуды</td><td>392.67</td><td>513.11</td><td>132.29</td><td>35</td><td>70</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>385.22</td><td>105.67</td><td>30</td><td>45</td></tr>
       <tr><td>Палата №6</td><td>419.58</td><td>409.44</td><td>105.21</td><td>25</td><td>30</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>380.00</td><td>100.92</td><td>20</td><td>30</td></tr>
       <tr><td>Семь верст не крюк</td><td>296.50</td><td>273.57</td><td>90.20</td><td>15</td><td>35</td></tr>
       <tr><td>Великолепная семерка</td><td>273.42</td><td>230.48</td><td>80.18</td><td>10</td><td>35</td></tr>
       <tr><td>Пятый элемент</td><td>373.42</td><td>279.23</td><td>79.89</td><td>5</td><td>35</td></tr>
       <tr><td>Команда №1</td><td>358.04</td><td>168.44</td><td>54.55</td><td>0</td><td>0</td></tr>
     </tbody>
  </table>
  </div>

  <h1>Результаты 1 недели</h1>
  <a class="details" href="teams01.html">Подробнее</a>
  <div class="table__container">
  <table>
     <thead><tr><th>Команда</th><th>Цель (км/нед)</th><th>Результат (км)</th><th>Выполнено (%)</th><th>Очки</th><th>Сумма</th></tr></thead>
     <tbody>
       <tr><td>Барракуды</td><td>392.67</td><td>263.62</td><td>83.54</td><td>35</td><td>35</td></tr>
       <tr><td>Пятый элемент</td><td>321.50</td><td>67.75</td><td>32.46</td><td>30</td><td>30</td></tr>
       <tr><td>Великолепная семерка</td><td>234.96</td><td>70.49</td><td>26.18</td><td>25</td><td>25</td></tr>
       <tr><td>Семь верст не крюк</td><td>277.27</td><td>139.82</td><td>24.24</td><td>20</td><td>20</td></tr>
       <tr><td>Спортивный квартал</td><td>358.76</td><td>58.97</td><td>19.91</td><td>15</td><td>15</td></tr>
       <tr><td>Золотые люди</td><td>350.35</td><td>38.07</td><td>15.71</td><td>10</td><td>10</td></tr>
       <tr><td>Палата №6</td><td>388.81</td><td>54.21</td><td>14.38</td><td>5</td><td>5</td></tr>
       <tr><td>Команда №1</td><td>233.04</td><td>0.00</td><td>0.00</td><td>0</td><td>0</td></tr>
     </tbody>
  </table>
</section>