<section class="users">
  <ul class="users__list">
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
    <li class="user">
    <a href="u37941.html" class="user__link">Aleksey Borodulya</a>
    </li>
  </ul>
</section>